In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd 

df_p = pd.read_csv('/content/drive/MyDrive/2015.csv')
df_p.head()

   _STATE  FMONTH        IDATE IMONTH  ... _RFSEAT3 _FLSHOT6  _PNEUMO2  _AIDTST3
0     1.0     1.0  b'01292015'  b'01'  ...      1.0      NaN       NaN       1.0
1     1.0     1.0  b'01202015'  b'01'  ...      2.0      NaN       NaN       2.0
2     1.0     1.0  b'02012015'  b'02'  ...      9.0      9.0       9.0       NaN
3     1.0     1.0  b'01142015'  b'01'  ...      1.0      NaN       NaN       9.0
4     1.0     1.0  b'01142015'  b'01'  ...      1.0      NaN       NaN       1.0

[5 rows x 330 columns]

In [ ]:
df_p['_MICHD'].value_counts()

2.0    398881
1.0     38633
Name: _MICHD, dtype: int64

In [ ]:
df_selected = df_p[['_MICHD', '_RFHYPE5', 'TOLDHI2', '_CHOLCHK', '_BMI5', 'SMOKE100','CVDSTRK3', 'DIABETE3', 
                                         '_TOTINDA', 
                                         '_FRTLT1', '_VEGLT1', 
                                         '_RFDRHV5', 
                                         'HLTHPLN1', 'MEDCOST', 
                                         'GENHLTH', 'MENTHLTH', 'PHYSHLTH', 'DIFFWALK', 
                                         'SEX', '_AGEG5YR', 'EDUCA', 'INCOME2', 
                                         'CHECKUP1', 
                                         'CVDINFR4' ,'CVDCRHD4' ,'ADDEPEV2', 
                                         'FVGREEN', 'FVORANG', 'EXERANY2', '_LTASTH1']]

In [ ]:
df_selected.shape

(441456, 30)

In [ ]:
df_selected.head()

   _MICHD  _RFHYPE5  TOLDHI2  _CHOLCHK  ...  FVGREEN  FVORANG  EXERANY2  _LTASTH1
0     2.0       2.0      1.0       1.0  ...    310.0    305.0       2.0       2.0
1     2.0       1.0      2.0       2.0  ...    202.0    202.0       1.0       1.0
2     NaN       1.0      1.0       1.0  ...      NaN      NaN       NaN       1.0
3     2.0       2.0      1.0       1.0  ...    301.0    301.0       2.0       1.0
4     2.0       1.0      2.0       1.0  ...    204.0    310.0       2.0       1.0

[5 rows x 30 columns]

In [ ]:
df_selected = df_selected.dropna()
df_selected.shape

(328598, 30)

In [ ]:
df_selected['_MICHD'].value_counts()

2.0    295460
1.0     33138
Name: _MICHD, dtype: int64

In [ ]:
df_selected['_MICHD'] = df_selected['_MICHD'].replace({2: 0})
df_selected._MICHD.unique()

array([0., 1.])

In [ ]:
df_selected['_MICHD'].value_counts()

0.0    295460
1.0     33138
Name: _MICHD, dtype: int64

In [ ]:
df_selected['_RFHYPE5'].value_counts()

1.0    182976
2.0    144965
9.0       657
Name: _RFHYPE5, dtype: int64

In [ ]:
df_selected['_RFHYPE5'] = df_selected['_RFHYPE5'].replace({1:0, 2:1})
df_selected = df_selected[df_selected._RFHYPE5 != 9]
df_selected._RFHYPE5.unique()

array([1., 0.])

In [ ]:
df_selected['TOLDHI2'].value_counts()

2.0    185996
1.0    139360
7.0      2358
9.0       227
Name: TOLDHI2, dtype: int64

In [ ]:
df_selected['TOLDHI2'] = df_selected['TOLDHI2'].replace({2:0})
df_selected = df_selected[df_selected.TOLDHI2 != 7]
df_selected = df_selected[df_selected.TOLDHI2 != 9]
df_selected.TOLDHI2.unique()

array([1., 0.])

In [ ]:
df_selected['_BMI5'].value_counts()

2663.0    3802
2746.0    3101
2744.0    3074
2712.0    2527
2441.0    2518
          ...
5673.0       1
2839.0       1
1248.0       1
2840.0       1
4538.0       1
Name: _BMI5, Length: 3505, dtype: int64

In [ ]:
df_selected['_BMI5'] = df_selected['_BMI5'].div(100).round(0)
df_selected._BMI5.unique()

array([40., 25., 28., 24., 27., 30., 26., 34., 31., 23., 33., 21., 22.,
       38., 20., 19., 32., 37., 36., 29., 35., 18., 45., 39., 47., 43.,
       55., 49., 42., 17., 16., 41., 48., 44., 50., 59., 46., 15., 52.,
       54., 53., 57., 51., 14., 58., 63., 61., 56., 60., 74., 62., 64.,
       13., 66., 73., 65., 68., 85., 71., 84., 67., 70., 82., 79., 92.,
       72., 88., 96., 81., 12., 77., 75., 91., 69., 76., 87., 89., 95.,
       83., 98., 86., 80., 90., 78., 97.])

In [ ]:
df_selected['SMOKE100'] = df_selected['SMOKE100'].replace({2:0})
df_selected = df_selected[df_selected.SMOKE100 != 7]
df_selected = df_selected[df_selected.SMOKE100 != 9]
df_selected.SMOKE100.unique()

array([1., 0.])

In [ ]:
df_selected['CVDSTRK3'] = df_selected['CVDSTRK3'].replace({2:0})
df_selected = df_selected[df_selected.CVDSTRK3 != 7]
df_selected = df_selected[df_selected.CVDSTRK3 != 9]
df_selected.CVDSTRK3.unique()

array([0., 1.])

In [ ]:
df_selected['DIABETE3'].value_counts()

3.0    267422
1.0     46380
4.0      6126
2.0      2453
7.0       280
9.0        27
Name: DIABETE3, dtype: int64

In [ ]:
df_selected['DIABETE3'] = df_selected['DIABETE3'].replace({2:0, 3:0, 1:2, 4:1})
df_selected = df_selected[df_selected.DIABETE3 != 7]
df_selected = df_selected[df_selected.DIABETE3 != 9]
df_selected.DIABETE3.unique()

array([0., 2., 1.])

In [ ]:
df_selected['_TOTINDA'] = df_selected['_TOTINDA'].replace({2:0})
df_selected = df_selected[df_selected._TOTINDA != 9]
df_selected._TOTINDA.unique()

array([0., 1.])

In [ ]:
df_selected['_FRTLT1'] = df_selected['_FRTLT1'].replace({2:0})
df_selected = df_selected[df_selected._FRTLT1 != 9]
df_selected._FRTLT1.unique()

array([0., 1.])

In [ ]:
df_selected['_VEGLT1'] = df_selected['_VEGLT1'].replace({2:0})
df_selected = df_selected[df_selected._VEGLT1 != 9]
df_selected._VEGLT1.unique()

array([1., 0.])

In [ ]:
df_selected['_RFDRHV5'] = df_selected['_RFDRHV5'].replace({1:0, 2:1})
df_selected = df_selected[df_selected._RFDRHV5 != 9]
df_selected._RFDRHV5.unique()

array([0., 1.])

In [ ]:
df_selected['HLTHPLN1'] = df_selected['HLTHPLN1'].replace({2:0})
df_selected = df_selected[df_selected.HLTHPLN1 != 7]
df_selected = df_selected[df_selected.HLTHPLN1 != 9]
df_selected.HLTHPLN1.unique()

array([1., 0.])

In [ ]:
df_selected['MEDCOST'] = df_selected['MEDCOST'].replace({2:0})
df_selected = df_selected[df_selected.MEDCOST != 7]
df_selected = df_selected[df_selected.MEDCOST != 9]
df_selected.MEDCOST.unique()

array([0., 1.])

In [ ]:
df_selected['GENHLTH'].value_counts()

2.0    102826
3.0     90381
1.0     52279
4.0     39339
5.0     15352
7.0       317
9.0       209
Name: GENHLTH, dtype: int64

In [ ]:
df_selected = df_selected[df_selected.GENHLTH != 7]
df_selected = df_selected[df_selected.GENHLTH != 9]
df_selected.GENHLTH.unique()

array([5., 3., 2., 4., 1.])

In [ ]:
df_selected['MENTHLTH'].value_counts()

88.0    207158
2.0      14860
30.0     14312
5.0      10239
1.0       9717
3.0       8439
10.0      7289
15.0      6416
4.0       4333
20.0      3922
7.0       3584
77.0      2257
25.0      1373
14.0      1363
6.0       1155
99.0       922
8.0        737
12.0       473
28.0       377
21.0       260
29.0       192
9.0        116
18.0       114
16.0       102
27.0        92
22.0        70
17.0        62
13.0        52
26.0        51
23.0        45
11.0        42
24.0        35
19.0        18
Name: MENTHLTH, dtype: int64

In [ ]:
df_selected['MENTHLTH'] = df_selected['MENTHLTH'].replace({88:0})
df_selected = df_selected[df_selected.MENTHLTH != 77]
df_selected = df_selected[df_selected.MENTHLTH != 99]
df_selected.MENTHLTH.unique()

array([18.,  0., 30.,  3.,  5., 15., 10.,  6., 20.,  2., 25.,  1., 29.,
        4.,  7.,  8., 21., 14., 26.,  9., 16., 28., 11., 12., 24., 17.,
       13., 23., 27., 19., 22.])

In [ ]:
df_selected['PHYSHLTH'] = df_selected['PHYSHLTH'].replace({88:0})
df_selected = df_selected[df_selected.PHYSHLTH != 77]
df_selected = df_selected[df_selected.PHYSHLTH != 99]
df_selected.PHYSHLTH.unique()

array([15.,  0., 30.,  2., 14., 28.,  7., 20.,  3., 10.,  1.,  5., 17.,
        4., 19.,  6., 21., 12.,  8., 25., 27., 22., 29., 24.,  9., 16.,
       18., 23., 13., 26., 11.])

In [ ]:
df_selected['DIFFWALK'] = df_selected['DIFFWALK'].replace({2:0})
df_selected = df_selected[df_selected.DIFFWALK != 7]
df_selected = df_selected[df_selected.DIFFWALK != 9]
df_selected.DIFFWALK.unique()

array([1., 0.])

In [ ]:
df_selected['SEX'] = df_selected['SEX'].replace({2:0})
df_selected.SEX.unique()

array([0., 1.])

In [ ]:
df_selected['_AGEG5YR'].value_counts()

9.0     37623
10.0    37437
8.0     34390
7.0     29001
11.0    28266
13.0    22587
6.0     21586
12.0    19736
5.0     17490
4.0     15034
3.0     12087
2.0      8472
1.0      7316
14.0     1468
Name: _AGEG5YR, dtype: int64

In [ ]:
df_selected = df_selected[df_selected._AGEG5YR != 14]
df_selected._AGEG5YR.unique()

array([ 9.,  7., 11., 10., 13.,  8.,  4.,  6.,  2., 12.,  5.,  1.,  3.])

In [ ]:
df_selected = df_selected[df_selected.EDUCA != 9]
df_selected.EDUCA.unique()

array([4., 6., 3., 5., 2., 1.])

In [ ]:
df_selected = df_selected[df_selected.INCOME2 != 77]
df_selected = df_selected[df_selected.INCOME2 != 99]
df_selected.INCOME2.unique()

array([3., 1., 8., 6., 4., 7., 2., 5.])

In [ ]:
df_selected['CHECKUP1'] = df_selected['CHECKUP1'].replace({7:0, 8:0})
df_selected = df_selected[df_selected.CHECKUP1 != 9]
df_selected.CHECKUP1.unique()

array([1., 4., 2., 3., 0.])

In [ ]:
df_selected['CVDINFR4'] = df_selected['CVDINFR4'].replace({2:0, 7:0})
df_selected = df_selected[df_selected.CVDINFR4 != 9]
df_selected.CVDINFR4.unique()

array([0., 1.])

In [ ]:
df_selected['CVDCRHD4'] = df_selected['CVDCRHD4'].replace({2:0, 7:0})
df_selected = df_selected[df_selected.CVDCRHD4 != 9]
df_selected.CVDCRHD4.unique()

array([0., 1.])

In [ ]:
df_selected['ADDEPEV2'] = df_selected['ADDEPEV2'].replace({2:0, 7:0})
df_selected = df_selected[df_selected.ADDEPEV2 != 9]
df_selected.ADDEPEV2.unique()

array([1., 0.])

In [ ]:
df_selected.loc[(df_selected['FVGREEN'] >= 101) & (df_selected['FVGREEN'] <= 299),'FVGREEN'] = 1
df_selected.loc[(df_selected['FVGREEN'] >= 300) & (df_selected['FVGREEN'] <= 399),'FVGREEN'] = 0
df_selected['FVGREEN'] = df_selected['FVGREEN'].replace({555:0, 777:0})
df_selected = df_selected[df_selected.FVGREEN != 999]
df_selected.FVGREEN.unique()

array([0., 1.])

In [ ]:
df_selected.loc[(df_selected['FVORANG'] >= 101) & (df_selected['FVORANG'] <= 299),'FVORANG'] = 1
df_selected.loc[(df_selected['FVORANG'] >= 300) & (df_selected['FVORANG'] <= 399),'FVORANG'] = 0
df_selected['FVORANG'] = df_selected['FVORANG'].replace({555:0, 777:0})
df_selected = df_selected[df_selected.FVORANG != 999]
df_selected.FVORANG.unique()

array([0., 1.])

In [ ]:
df_selected['EXERANY2'] = df_selected['EXERANY2'].replace({2:0})
df_selected = df_selected[df_selected.EXERANY2 != 7]
df_selected = df_selected[df_selected.EXERANY2 != 9]
df_selected.EXERANY2.unique()

array([0., 1.])

In [ ]:
df_selected['_LTASTH1'] = df_selected['_LTASTH1'].replace({1:0, 2:1})
df_selected = df_selected[df_selected._LTASTH1 != 9]
df_selected._LTASTH1.unique()

array([1., 0.])

In [ ]:
df_selected.shape

(255041, 30)

In [ ]:
df_selected.head()

   _MICHD  _RFHYPE5  TOLDHI2  _CHOLCHK  ...  FVGREEN  FVORANG  EXERANY2  _LTASTH1
0     0.0       1.0      1.0       1.0  ...      0.0      0.0       0.0       1.0
1     0.0       0.0      0.0       2.0  ...      1.0      1.0       1.0       0.0
3     0.0       1.0      1.0       1.0  ...      0.0      0.0       0.0       0.0
5     0.0       1.0      0.0       1.0  ...      1.0      1.0       1.0       0.0
6     0.0       1.0      1.0       1.0  ...      1.0      0.0       1.0       0.0

[5 rows x 30 columns]

In [ ]:
df_selected.groupby(['_MICHD']).size()

_MICHD
0.0    231089
1.0     23952
dtype: int64

In [ ]:
brfss = df_selected.rename(columns = {'_MICHD':'HeartDiseaseorAttack', 
                                         '_RFHYPE5':'HighBP',  
                                         'TOLDHI2':'HighChol', '_CHOLCHK':'CholCheck', 
                                         '_BMI5':'BMI', 
                                         'SMOKE100':'Smoker', 
                                         'CVDSTRK3':'Stroke', 'DIABETE3':'Diabetes', 
                                         '_TOTINDA':'PhysActivity', 
                                         '_FRTLT1':'Fruits', '_VEGLT1':"Veggies", 
                                         '_RFDRHV5':'HvyAlcoholConsump', 
                                         'HLTHPLN1':'AnyHealthcare', 'MEDCOST':'NoDocbcCost', 
                                         'GENHLTH':'GenHlth', 'MENTHLTH':'MentHlth', 'PHYSHLTH':'PhysHlth', 'DIFFWALK':'DiffWalk', 
                                         'SEX':'Sex', '_AGEG5YR':'Age', 'EDUCA':'Education', 'INCOME2':'Income', 
                                         'CHECKUP1':'Checkcare', 
                                         'CVDINFR4':'Myocardialinfarction' ,'CVDCRHD4':'HeartDisease' ,'ADDEPEV2':'Depression', 
                                         'FVGREEN':'GreenVege', 'FVORANG':'OrangeVege', 'EXERANY2':'Exercise', '_LTASTH1':'Asthma' })

In [ ]:
brfss.to_csv('/content/drive/MyDrive/heart_disease_health_indicators_BRFSS2015(codestates).csv', sep=",", index=False)